<div data-role="footer" id="thefooter" data-position="fixed" >
	<div data-role="navbar">

		<ul>
	<!--		<li><a href="a.html" class="ui-btn-active" rel="external" data-icon="delete">One</a></li>  -->

			<li><a href="/info.html" data-rel="dialog" data-transition="pop" data-icon="info">About</a></li>

		</ul>
	</div><!-- /navbar -->
<!--	<div style="text-align: center;">footer</div> -->
<div data-theme="c" style="text-align: center;">
Mobile Ruby on Rails Web App Demo
</div>
</div><!-- /footer -->
	