<div data-role="footer">	
	<div data-role="navbar">
		<ul>
			<li><a href="a.html" class="ui-btn-active" data-icon="delete">One</a></li>
			<li><a href="b.html" data-icon="info">Two</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
	